$color-primary: #7E34F7;
$border-radius: 4px;

// For text and titles
$color-black: #21293C;

// For gray buttons and gray text
$color-gray-1: #4B587C;

// For placeholders
$color-gray-2: #8A8F9C;

$color-border: #E5E5E5;

// Border color for thread line
$color-thread-line: #EAEAEA;