@use "../base/variables.scss" as *;
@use "../base/text-styles.scss" as *;

.comment {
    padding: 15px 0;
    display: flex;
    flex-direction: row;
    position: relative;

    .reply-line {
        // Starts in the middle of the avatar until the bottom of the comment box
        position: absolute;
        left: 15px;
        top: 30px;
        bottom: 15px;
        width: 2px;
        background: $color-border;
    }

    .avatar {
        // Make sure the avatar is positioned on top of the reply line
        position: relative;
    }

    > main {
        flex-grow: 1;

        > header {
            display: flex;
            flex-direction: row;
            align-items: center;
            padding-bottom: 5px;

            h3 {
                @extend .style-h3;
                line-height: 1;
            }
        
            time {
                @extend .style-time;
                padding-left: 5px;
                line-height: 1;
        
                &:before {
                    content: "・ ";
                }
            }
        }

        > p {
            @extend .style-text;
            white-space: pre-wrap;
        }

        > footer {
            padding-top: 10px;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 30px;
    
            .button {
                transition: color 0.2s;
    
                > .icon {
                    transition: transform 0.15s;
                }
    
                &.voted {
                    color: $color-primary;
    
                    > .icon {
                        transform: scale(1.4, 1.4);
                    }
                }
            }
        }

        > .children {
            > .comment-form {
                padding: 15px 0;
            }
        }
    }
}