@use "../base/text-styles.scss" as *;

#post {
    padding: 20px 0;

    > h1 {
        @extend .style-h1;
        padding-bottom: 20px;
    }

    > p {
        @extend .style-text-large;
        margin: 15px 0;
    }
}